<h3><%= @category.title %> Category</h3>

<h4>Jobs:</h4>
<% @category.jobs.each do |job| %>
  <ul>
    <li><%= link_to "#{job.title} at #{job.company.name}", job%></li>
  </ul>
<% end %>
<br/ >

<%= link_to "Back", :back, class: "btn btn-secondary"%>
<%= link_to "All Companies", companies_path, class: "btn btn-primary" %>
